
.row1
{
    background-color:pink;
}
.row2
{
    background-color:#2e2866;
    
}
.row3
{
    padding-top:12px;
    background-color:#e9f2fc;
}
.div2
{
    padding-top:30px;
}
p{
    text-align:justify;
    text-align:left;
    color:#ff5e13;
}
.phone
{
    font-size:20px;
    color:white;
}
b
{
    text-align:center;
}

